# *******************************************************************
# This is an example of a per-device config file.
#
# Modify this file to your needs and rename it to 'local.conf'
# Then refresh Hyprland config by opening and saving 'hyprland.conf'
# *******************************************************************

# ======================
# ===   Autostart    ===
# ======================
exec-once = ~/Scripts/tunnelWrapper.sh
exec-once = ~/Scripts/denoisedWrapper.sh
# exec-once = iio-hyprland
# exec-once = ~/Scripts/connectRpiTunnel.sh
# exec-once = ~/Scripts/connectDenoisedFilter.sh


# ======================
# ===    General     ===
# ======================

# device:[touchpad name] {
#     sensitivity = 0.1
# }

# Personal laptop
# device:msft0001:01-04f3:3138-touchpad {
# 	sensitivity          = 0.1
#   disable_while_typing = 0    # gaming
# }

# Disables play/pause characters as keyboard inputs
# (the sequence '428u' would be a bit unfortunate in vim xd)
device:momentum-4-(avrcp) {
    enabled = 0    
}


# ======================
# ===    Keybinds    ===
# ======================
# HARDCODED, FIX THIS!!
bind = SUPERSHIFT, comma, focusmonitor, DP-2
bind = SUPERSHIFT, period, focusmonitor, DP-3
bind = SUPERSHIFT, mouse:275, focusmonitor, DP-2
bind = SUPERSHIFT, mouse:276, focusmonitor, DP-3


# ======================
# ===    Monitors    ===
# ======================
$MAIN   = DP-2
monitor = $MAIN,   2560x1440@165, auto, 1

$SECOND = DP-3
monitor = $SECOND, 2560x1080@60,  auto, 1

$THIRD  = HDMI-A-1
monitor = $THIRD,  1920x1080@60,  auto,  1

# - Main monitor -
workspace = 1, monitor:$MAIN, default:true
workspace = 2, monitor:$MAIN
workspace = 3, monitor:$MAIN
workspace = 4, monitor:$MAIN
workspace = 5, monitor:$MAIN
workspace = 6, monitor:$MAIN
workspace = 7, monitor:$MAIN
workspace = 8, monitor:$MAIN
workspace = 9, monitor:$MAIN

# - Second monitor - 
workspace = 10, monitor:$SECOND
workspace = 11, monitor:$SECOND, default:true
workspace = 12, monitor:$SECOND
workspace = 13, monitor:$SECOND
workspace = 14, monitor:$SECOND
workspace = 15, monitor:$SECOND
workspace = 16, monitor:$SECOND
workspace = 17, monitor:$SECOND
workspace = 18, monitor:$SECOND
workspace = 19, monitor:$SECOND

# - TV -
workspace = 20, monitor:$THIRD
workspace = 21, monitor:$THIRD, default:true
workspace = 22, monitor:$THIRD
workspace = 23, monitor:$THIRD
workspace = 24, monitor:$THIRD
workspace = 25, monitor:$THIRD
workspace = 26, monitor:$THIRD
workspace = 27, monitor:$THIRD
workspace = 28, monitor:$THIRD
workspace = 29, monitor:$THIRD

