@import "./themes/colors.css";

/* Download icons font: https://github.com/Templarian/MaterialDesign-Font */
* {
  font-family: NotoSans, Material Design Icons Regular;
  font-size: 14px;
}

/* Waybar */
window#waybar {
  background-color: rgba(30, 30, 46, 0);
  color: @subtext;
  transition-property: background-color;
  transition-duration: 0.5s;
  /* border-radius: 0px 0px 10px 10px; */
}

/* Modules */
#tray,
#custom-media, 
#cpu,
#memory,
#backlight,
#pulseaudio,
#network,
#bluetooth,
#battery,
#clock,
#language,
#custom-notifications,
#window {
  padding-left: 8px;
  padding-right: 8px;
  /* margin-top: 5px; */
  margin-bottom: 5px; 
  /* margin-left: 10px; */
  /* margin-right: 2px; */
  transition-duration: 0.2s;
}

#window {
  background-color: @bg;
}

/* Workspaces */
#workspaces {
  background-color: @bg;
  margin-bottom: 5px;
  transition-duration: 0.2s;
}

#workspaces button {
  font-size: 1rem;
  font-weight: bold;
  padding: 1px 10px; 
  color: @subtext;
  margin-left: 1px; 
  margin-right: 1px; 
  border-radius: 0px;
  transition-duration: 0.2s;
}

#workspaces button:hover {
  background-color: @yellow;
  color: @gold;
  border: 2px solid @gold;
  transition-duration: 0.2s;
}

#workspaces button.active { 
  color: @gold; 
  border-bottom: 3px solid @gold; 
  transition-duration: 0.2s; 
} 

#workspaces button.focused {
  color: @gold;
  border-bottom: 3px solid @gold;
  transition-duration: 0.2s;
}

#workspaces button.urgent { 
  background-color: rgba(172, 32, 32, 0.1); 
  color: @red; 
  border: 2px solid @red; 
  transition-duration: 0.2s; 
} 

#language {
  color: @subtext;
  background-color: @bg-alt;
}

/* Tray */
#tray {
  color: @subtext;
  background-color: @bg;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

/* Custom Media */
#custom-media {
  color: @dark;
  border-color: @surface2;
}

#custom-media.playing {
  color: @gray;
  background-color: @lime;
  border: 3px solid @lime ;
  transition-duration: 0.2s;
}

#custom-media.paused {
  color: @subtext;
  background-color: @gray;
  border: 3px solid @lime;
  transition-duration: 0.2s;
}

#custom-media:hover { 
  border-width: 2px; 
  background-color: @red; 
  transition-duration: 0.2s; 
} 

/* Pulseaudio */
#pulseaudio {
  min-width: 170px;
  color: @subtext;
  background-color: @bg;
  transition-duration: 0.2s;
}

#pulseaudio.muted {
  color: @darkorange;
  background-color: @bg;
  transition-duration: 0.2s;
}

/* Clock */
#clock {
  color: @subtext;
  background-color: @bg-alt;
}

#memory {
  color: @subtext;
  background-color: @bg-alt;
}

#cpu {
  color: @subtext;
  background-color: @bg;
}

#custom-notifications {
  color: @subtext;
  background-color: @bg;
}

#custom-sepRight,
#custom-sepRight-alt,
#custom-sepLeft,
#custom-sepLeft-alt {
	font-size: 2.3rem; 
	font-family: Iosevka;
	margin-bottom: 5px;
}

#custom-sepRight, 
#custom-sepLeft {
	color: @bg;
}

#custom-sepRight-alt, 
#custom-sepLeft-alt {
	color: @bg-alt;
}
